---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/ui/Header.astro';
import Footer from '../components/ui/Footer.astro';
import ScrollAnimations from '../components/ui/ScrollAnimations.astro';

interface Props {
	title: string;
	description?: string;
  noPaddingTop?: boolean;
  hideFloatingButton?: boolean;
  schemaType?: 'Restaurant' | 'Menu' | 'Article';
  schemaData?: Record<string, any>;
}

const { title, description, noPaddingTop = false, hideFloatingButton = false, schemaType, schemaData } = Astro.props;
---

<BaseLayout title={title} description={description} schemaType={schemaType} schemaData={schemaData}>
	<Header />

	<main class={`flex-grow ${noPaddingTop ? '' : 'pt-20'}`}>
		<slot />
	</main>

	<Footer hideFloatingButton={hideFloatingButton} />
	<ScrollAnimations />
</BaseLayout>
